.container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px;
  border: 1px solid black;
  background-size: 400% 400%;
  overflow: hidden;
}

.buttonDiv {
  width: 10%;
  margin-top: 4px;
  align-items: center;
  justify-content: start;
  padding: 0 4px;
  margin: 16px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    z-index: 1000;
  }

  button {
    all: unset;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(56, 56, 56, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
}
.buttonDiv:last-child {
  justify-content: end;
}
.cardDiv {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.diver {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divagain {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 230px;
  background: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 20px;
  padding: 24px;
  position: absolute;

  @media screen and (min-width: 768px) {
    margin: 40px;
    max-width: 720px;
    min-height: 312px;
    padding: 40px;
  }
}

.mainSection {
  margin-top: 40px;

  h1 {
    font-style: bold;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 140%;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
